<% snippets.each do |snippet| %>
<div class='snippet' data-id='<%= snippet.id %>'>
  <%= snippet.content %>
  <%= link_to "Source", source_path(snippet.source_id) %>
  <%= button_to 'Delete', snippet_path(snippet), {:class => 'delete-button', method: 'delete', remote: true } %>
</div>
<% end %>
