<div id="new-topic-errors"></div>
<h1>Topics</h1>
<div class="new-topic-form"> <%= render "new_topic_form" %> </div>
<div class="topic-list">

  <% @topics.all.each do |topic|%>
    <%= render 'topic', topic: topic %>
  <% end %>

  <div class="unaffiliated">
    <h2>Unaffiliated Snippets</h2>
    <%= render 'snippets', snippets: @unaffiliated %>
  </div>

</div>