<h1>Topics</h1>
<div class="new-topic-form hidden"> <%= render "new_topic_form" %> </div>
<div class="topic-list">
  <button id="add-new-topic">Add new</button>

  <% @topics.all.each do |topic|%>
    <%= render 'topic', topic: topic %>
  <% end %>

<div id="new-topic-errors"></div>

  <div class="unaffiliated">
    <h2>Unaffiliated Snippets:</h2>
    <%= render 'snippets', snippets: @unaffiliated %>
  </div>

</div>