<div class='text-field'>
  <%= form.text_field :email, :type => 'email', placeholder: 'email' %>
</div>

<div class='password-field'>
  <%= form.password_field :password, placeholder: 'password' %>
</div>
