<div class='welcome'>
  Welcome to Essence!
</div>
<div class='sign-up'>
  <h1 class="sign-up-title">Sign up</h1>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>
  <% end %>

  <%= link_to "Already have an account? Sign in", sign_in_path, class: "sign_in_link" %>
</div>
