<div class="findbar hidden doorHanger hiddenSmallView" id="findbar">
  <label for="findInput" class="toolbarLabel" data-l10n-id="find_label">Find:</label>
  <input id="findInput" class="toolbarField" tabindex="41">
  <div class="splitToolbarButton">
    <button class="toolbarButton findPrevious" title="" id="findPrevious" tabindex="42" data-l10n-id="find_previous">
      <span data-l10n-id="find_previous_label">Previous</span>
    </button>
    <div class="splitToolbarButtonSeparator"></div>
    <button class="toolbarButton findNext" title="" id="findNext" tabindex="43" data-l10n-id="find_next">
      <span data-l10n-id="find_next_label">Next</span>
    </button>
  </div>
  <input type="checkbox" id="findHighlightAll" class="toolbarField">
  <label for="findHighlightAll" class="toolbarLabel" tabindex="44" data-l10n-id="find_highlight">Highlight all</label>
  <input type="checkbox" id="findMatchCase" class="toolbarField">
  <label for="findMatchCase" class="toolbarLabel" tabindex="45" data-l10n-id="find_match_case_label">Match case</label>
  <span id="findMsg" class="toolbarLabel"></span>
</div>