<div id="overlayContainer" class="hidden">
  <div id="promptContainer">
    <div id="passwordContainer" class="prompt doorHanger">
      <div class="row">
        <p id="passwordText" data-l10n-id="password_label">Enter the password to open this PDF file:</p>
      </div>
      <div class="row">
        <input type="password" id="password" class="toolbarField" />
      </div>
      <div class="row">
        <button id="passwordCancel" class="promptButton"><span data-l10n-id="password_cancel">Cancel</span></button>
        <button id="passwordSubmit" class="promptButton"><span data-l10n-id="password_ok">OK</span></button>
      </div>
    </div>
  </div>
</div>