<div id="sidebarContainer">
  <div id="toolbarSidebar">
    <div class="splitToolbarButton toggled">
      <button id="viewThumbnail" class="toolbarButton group toggled" title="Show Thumbnails" tabindex="2" data-l10n-id="thumbs">
         <span data-l10n-id="thumbs_label">Thumbnails</span>
      </button>
      <button id="viewOutline" class="toolbarButton group" title="Show Document Outline" tabindex="3" data-l10n-id="outline">
         <span data-l10n-id="outline_label">Document Outline</span>
      </button>
    </div>
  </div>
  <div id="sidebarContent">
    <div id="thumbnailView">
    </div>
    <div id="outlineView" class="hidden">
    </div>
  </div>
</div>  <!-- sidebarContainer -->