
<div class="toolbar">
  <div id="toolbarContainer">
    <div id="toolbarViewer">
      <div id="toolbarViewerLeft">
        <button id="sidebarToggle" class="toolbarButton" title="Toggle Sidebar" tabindex="4" data-l10n-id="toggle_sidebar">
          <span data-l10n-id="toggle_sidebar_label">Toggle Sidebar</span>
        </button>
        <div class="toolbarButtonSpacer"></div>
        <button id="viewFind" class="toolbarButton group hiddenSmallView" title="Find in Document" tabindex="5" data-l10n-id="findbar">
           <span data-l10n-id="findbar_label">Find</span>
        </button>
        <div class="splitToolbarButton">
          <button class="toolbarButton pageUp" title="Previous Page" id="previous" tabindex="6" data-l10n-id="previous">
            <span data-l10n-id="previous_label">Previous</span>
          </button>
          <div class="splitToolbarButtonSeparator"></div>
          <button class="toolbarButton pageDown" title="Next Page" id="next" tabindex="7" data-l10n-id="next">
            <span data-l10n-id="next_label">Next</span>
          </button>
        </div>
        <label id="pageNumberLabel" class="toolbarLabel" for="pageNumber" data-l10n-id="page_label">Page: </label>
        <input type="number" id="pageNumber" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="8">
        </input>
        <span id="numPages" class="toolbarLabel"></span>
       </div>
      <div id="toolbarViewerRight">
        <!-- THIS IS OUR ADD_SNIPPET BUTTON -->
        <button class="add-snippet toolbarButton toolbarButton-star hiddenLargeView" title="Add Snippet" tabindex="12">
          <span>Add Snippet</span>
        </button>

        <button id="presentationMode" class="toolbarButton presentationMode hiddenLargeView" title="Switch to Presentation Mode" tabindex="12" data-l10n-id="presentation_mode">
          <span data-l10n-id="presentation_mode_label">Presentation Mode</span>
        </button>

        <button id="openFile" class="toolbarButton openFile hiddenLargeView" title="Open File" tabindex="13" data-l10n-id="open_file">
          <span data-l10n-id="open_file_label">Open</span>
        </button>

        <button id="print" class="toolbarButton print hiddenMediumView" title="Print" tabindex="14" data-l10n-id="print">
          <span data-l10n-id="print_label">Print</span>
        </button>

        <button id="download" class="toolbarButton download hiddenMediumView" title="Download" tabindex="15" data-l10n-id="download">
          <span data-l10n-id="download_label">Download</span>
        </button>
        <!-- <div class="toolbarButtonSpacer"></div> -->
        <a href="#" id="viewBookmark" class="toolbarButton bookmark hiddenSmallView" title="Current view (copy or open in new window)" tabindex="16" data-l10n-id="bookmark">
          <span data-l10n-id="bookmark_label">Current View</span>
        </a>

        <div class="verticalToolbarSeparator hiddenSmallView"></div>

        <button id="secondaryToolbarToggle" class="toolbarButton" title="Tools" tabindex="17" data-l10n-id="tools">
          <span data-l10n-id="tools_label">Tools</span>
        </button>
      </div>
      <div class="outerCenter">
        <div class="innerCenter" id="toolbarViewerMiddle">
          <div class="splitToolbarButton">
            <button id="zoomOut" class="toolbarButton zoomOut" title="Zoom Out" tabindex="9" data-l10n-id="zoom_out">
              <span data-l10n-id="zoom_out_label">Zoom Out</span>
            </button>
            <div class="splitToolbarButtonSeparator"></div>
            <button id="zoomIn" class="toolbarButton zoomIn" title="Zoom In" tabindex="10" data-l10n-id="zoom_in">
              <span data-l10n-id="zoom_in_label">Zoom In</span>
             </button>
          </div>
          <span id="scaleSelectContainer" class="dropdownToolbarButton">
             <select id="scaleSelect" title="Zoom" tabindex="11" data-l10n-id="zoom">
              <option id="pageAutoOption" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</option>
              <option id="pageActualOption" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
              <option id="pageFitOption" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</option>
              <option id="pageWidthOption" value="page-width" data-l10n-id="page_scale_width">Full Width</option>
              <option id="customScaleOption" value="custom"></option>
              <option value="0.5">50%</option>
              <option value="0.75">75%</option>
              <option value="1">100%</option>
              <option value="1.25">125%</option>
              <option value="1.5">150%</option>
              <option value="2">200%</option>
            </select>
          </span>
        </div>
      </div>
    </div>
    <div id="loadingBar">
      <div class="progress">
        <div class="glimmer">
        </div>
      </div>
    </div>
  </div>
</div>
