body {
  font-size: 16px;
}

// SIGN UP

.sign-up {
  position: relative;
  margin: 6.25em auto;
  width: 19.7em;
  padding: 2em 1.74em;
  background: #fff;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
}
.sign-up:before, .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 0.625em;
  background: inherit;
  border-radius: 4px;
}

.sign-up-title {
  margin: -0.82em -0.97em 1em;
  padding: 0.4em 1em;
  line-height: 1.5em;
  font-size: 1.8em;
  font-weight: 200;
  color: #999999;
  text-align: center;
  background: #384047;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #2ecc71, #2ecc71 25%, #fecf71 25%, #fecf71 50%, #f0776c 50%, #f0776c 50%, #f0776c 75%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 100%, #62c2e4 100%, #62c2e4);
  background-image: -moz-linear-gradient(left, #2ecc71, #2ecc71 25%, #fecf71 25%, #fecf71 50%, #f0776c 50%, #f0776c 50%, #f0776c 75%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 100%, #62c2e4 100%, #62c2e4);
  background-image: -o-linear-gradient(left, #2ecc71, #2ecc71 25%, #fecf71 25%, #fecf71 50%, #f0776c 50%, #f0776c 50%, #f0776c 75%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 100%, #62c2e4 100%, #62c2e4);
  background-image: linear-gradient(to right, #2ecc71, #2ecc71 25%, #fecf71 25%, #fecf71 50%, #f0776c 50%, #f0776c 50%, #f0776c 75%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 100%, #62c2e4 100%, #62c2e4);

}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: #fff;
  border: 2px solid #ebebeb;
  border-radius: 4px;
}
.sign-up-input:focus {
  border-color: #2ecc71;
  outline: none;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up input[type="submit"] {
  font-weight: 100;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  margin-bottom: 1em;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background: #2ecc71;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up input[type="submit"]:hover, .sign-up input[type="submit"]:focus {
  background-color: #40d47e;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sign-up input[type="submit"]:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2bc06a;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sign_in_link {
  color: #999999;
  display: block;
  text-align: center;
}

.sign_in_link:hover, .sign_in_link:focus, .sign_in_link:active {
  color: #384047;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}


