@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
  background-color: #bdc3c7; /*rgba(250,250,250,0.95);*/
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0 auto;
  color: #384047;
}

/* General */

a {
  text-decoration: none;
}


/* Header */

#essence_logo {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 400;
  width: 1em;
  padding: 0.0625em 0.25em;
  overflow: hidden;
  background: #ecf0f1;
  text-align: center;
  text-indent: 0.2em;
  letter-spacing: 0.5em;
  color: #384047;
  border: 0.1875em solid #ecf0f1;
  border-radius: 0.125em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#essence_logo:hover, #essence_logo:focus, #essence_logo:active {
  background: transparent;
  text-indent: 0px;
  color: #ecf0f1;
  font-weight: 300;
  width: 5em;
  letter-spacing: 0.1875em;
}
