@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html {
  background-color: #edeff0; /*#bdc3c7 rgba(250,250,250,0.95);*/
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0 auto;
  color: #384047;
}

body {
  background-color: #edeff0;
}

.main_content {
  margin-top: 4em;
}

h1 {
  color: #384047;
  font-weight: 800;
  text-align: center;
  font-size: 2.2em;
  margin-top: 1em;
  margin-bottom: 3.5em;
}

h2 {
  color: #384047;
  font-weight: 600;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active,
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
button:hover, button:focus, button:active {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#essence_logo {
  position: absolute;
  left: 1em;
  top: 0.4em;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 400;
  width: 1.7em;
  padding: 0.05em 0.25em;
  overflow: hidden;
  background: #8d9aa5;
  text-align: center;
  text-indent: 0.15em;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: #384047;
  border: 0.1875em solid #8d9aa5;
  border-radius: 0.125em;
  -webkit-font-smoothing:antialiased;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#essence_logo:hover, #essence_logo:focus, #essence_logo:active {
  background: transparent;
  text-indent: 0px;
  color: white;
  font-weight: 400;
  border: 0.1875em solid #fff;
  width: 5.8em;
  letter-spacing: 0.1875em;
  -webkit-font-smoothing:antialiased;
}

// Nav

.navbar {
  min-height: 3.4em;
}

.navbar ul {
  float: right;
}

.navbar-inverse .navbar-nav > li > a {
  color: #8d9aa5;
}

#sign_out:hover, #sign_out:active, #sign_out:focus, {
  color: #e15258;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main_content {
  background-color: #edeff0;
}

.bookmarklet {
  margin-top: 1.5em;
  text-align: center;
}

#new-topic-errors, .library_errors {
  display: none;
  width: 100%;
  background: #FF5555;
  color: white;
  position: absolute;
  top: 54px;
  padding: 3px;
  font-size: 0.8em;
  text-indent: 10px;
  z-index: 1000;
}