.list_of_sources {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;

  li {
    width: 33%;
    float: left;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 2.5em;
    text-align: center;

    img {
      margin: 0 auto;
      margin-bottom: 0.8em;
      height: 88px;
      width: 69px;
      display: inline-block;
    }

    a {
      color: #384047;
      overflow: auto;
      text-align: left;
      margin-bottom: 2em;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }

    .source_title {
      display: block;
      padding: 0 .7em;
      overflow-wrap: break-word;
      font-size: 0.75em;
    }
  }
}

#bookmarklet {
  padding: 0.4em 0.6em;
  font-size: 0.7em;
  font-weight: 300;
  color: #fff;
  text-align: center;
  background: #2ecc71;
  border-radius: 3px;
  cursor: pointer;
  border-color: #3dc264;
  border: 1px solid #3dc264;
}

#bookmarklet:hover, #bookmarklet:focus {
  background-color: #40d47e;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
}

.list_of_sources .delete-button {
  display: none;
  position: absolute;
  margin-left: 1.59em;
  margin-top: -8.75em;
  color: #c0392b;
  font-size: 0.75em;
  font-weight: 200;
  border: none;
  outline: 0;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .list_of_sources {
    display: block;

    li {
      display: block;
      width: 100%;
    }
  }

  .list_of_sources li {
    width: 100%;
    display: block;
  }
}