body {
  text-align: center;

  .topic-list {
    position: relative;
    margin: 2.5em auto;
    width: 65%;
    padding: 5%;
    border: 2px solid;
  }

  #add-new-topic {
    position: absolute;
    top: 0.3em;
    right: 0.4em;
  }
  .fa-plus-square-o {
    font-size: 1.3em;
    color: #384047;
}

  .new-topic-form {
    position: absolute;
    width: 100%;
    min-width: 500px;
    padding: 3px;
  }

  .topic-name {
    border: 1px solid;
    padding: 3px;
    margin: 2px;
    font-family: helvetica;
    font-size: 2em;

    a {
      display: inline-block;
    }

    .delete-button{
      display: inline-block;
      margin: 6px auto 12px;
      border: none;
      border-radius: 4px;
      background-color: #c0392b;
      font-size: 0.5em;
    }
  }

  .hidden {
    display: none;
  }
}